html {
  overflow-y: scroll;
}

/* div styles */
div.spacer {
    width: inherit;
    height:40px;
}

.nav-pills {
  margin-top:1em;
}

.nav {
  float:right;
}

/* text styles */

h1 {
  margin-top: 0.7em;
  color:#337ab7;
}

/* class styles */
.mobile {
  display: none;
}

.desktop {
  display: block;
}

.panel-heading {
  font-size: 150%;
}

.panel-body {
  font-size: 130%;
}

/* other */
footer {
  margin: 1em;
  float: right;
}

img {
  margin-top: 1em;
  margin-bottom:1.5em;
  width: 100%;
}

li {
  margin-right:1em;
  margin-left:1em;
}

/* mobile compatibility */
@media screen and (max-width: 992px)
{
  h1 {
    text-align: center;
  }

  ul {
    float:none;
    display:table;
    margin: auto;
  }

  p {
    text-align: center;
  }

  /* class styles */
  .nav {
    float:none;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  h4 {
    font-size: 85%;
  }

}
