body
{
  margin: 0;
  font-family: sans-serif;
  background-color: #10100e;
  background-image: url(coverphoto.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

h1
{
  font-size: 2.5em;
  text-align: left;
  color:white;
  margin: 0;
  float:left;
  padding: 0.8em;
}

h2
{
  font-size: 2em;
  margin-left:2em;
  margin-right:2em;
  color:hsl(200, 18%, 30%);
  margin-bottom:0;
  text-align: left;
  padding-top:1em;
  padding-bottom:0;
}

h2.problem
{
  color:hsl(4, 90%, 60%);
  text-align: center;
}

h2.solution
{
  color:hsl(122, 39%, 50%);
  text-align: center;
}

p
{
  font-size: 1.5em;
  color:hsl(200, 18%, 30%);
  padding: 2em;
}

p.smallbox
{
  max-width: 40em;
  text-align: justify;
  padding-left: 2em;
  padding-right: 2em;
}

li
{
  margin-left:2em;
  font-size: 1.5em;
  color:hsl(200, 18%, 30%);
}

div.top
{
  position:relative;
  width:100%;
  text-align: center;
  background-color: hsl(0, 0%, 20%);
  opacity: 0.80;
  display: inline-block;
  vertical-align:top;
  margin: 0;
}

div.content
{
  width:100%;
  max-width: 80em;
  margin:auto;
  background-color: white;
  margin-top:2em;
  opacity: 0.9;

}

div.left
{
  width:43%;
  height: 20em;
  padding: 1em;
  margin: 3em;
  background-color: white;
  opacity: 0.9;
  margin-top: 30em;
  margin-right:2%;
  margin-left:4%;
  display: inline-table;
  text-align: center;
}

div.right
{
  width:43%;
  height: 20em;
  padding: 1em;
  margin-left: 0;
  background-color: white;
  opacity: 0.9;
  margin-right:1%;
  display: inline-table;
  margin-bottom:10em;
}

a
{
  text-decoration: none;
}

a.nav
{
  font-weight: bolder;
  display: inline-block;
  text-decoration: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
  font-size: 200%;
  padding: 1.3em;
  padding-left:2%;
  padding-right:2%;
}

img
{
  width: 100%;
}

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  height: 8px;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

footer
{
  color:white;
  text-align: right;
}

@media screen and (max-width:1000px)
{
  a.nav
  {
    margin: 0;
  }

  div.left
  {
    width:auto;
    margin: 1em;
  }

  div.right
  {
    width:auto;
    margin: 1em;
  }

  body
  {
    background-image:none;
    background-color: hsl(0, 0%, 90%);
  }

  div.top
  {
    position:static;
  }

  h1
  {
    float:none;
    text-align: center;
    font-size:1.8em;
  }

  h2.solution
  {
    text-align: left;
  }

  p.solution
  {
    float: none;
    text-align: left;
  }

  div.solution
  {
    max-width: 60em;
  }

  a.nav
  {
    font-size:1.4em;
  }
}

@media screen and (max-width:480px)
{
  div.left
  {
    padding: 0.5em;
    margin: 0.5em;
  }

  div.right
  {
    padding: 0.5em;
    margin: 0.5em;
  }

  h1
  {
    font-size:1.3em;
  }
  a.nav
  {
    font-size:1em;
  }

  h2
  {
    font-size: 1.3em;
  }

  p
  {
    font-size: 1em;
  }

  li
  {
    font-size: 1em;
  }
}
